<html>
    <body><form method ="POST" action = '/'>
        <center><h2>Przelicznik walut</h2>
        <label>Kwota: <input type = "number" placeholder = "Mam" name = "kwota" size = "50" required></label>
        <label>Waluta: 
        <select name = "waluta">
        <option value = "EUR">EUR</option>
        <option value = "PLN">PLN</option>
        <option value = "USD">USD</option>
        </select></label><br><br>
       Przelicz na:
        <label></label>
        <select name = "waluta2">
        <option value = "EUR">EUR</option>
        <option value = "PLN">PLN</option>
        <option value = "USD">USD</option>
        </select></label>
        <br><br>
        <button>Przelicz</button>
        </center></form>
    </body>
</html>